@charset "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	 height: 100vh;
	 background-color: #643900;
	color: white;
	 display: flex;
	 align-items: center;
	 
}

nav {
	position: fixed;
	height: 80px;
	background-color: black;
	color: white;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 15px;
	font-size: 30px;
	background-image: url("../Images/home1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: fantasy;
	font-weight: normal;
}


div{
	width: 300px;
	height: auto;
	background-color: black;
	border-radius: 5px;
	box-shadow: 8px 10px 20px rgb(128, 128, 128);
	padding: 20px;
	color: white;
	margin: auto;
}

h1{
	font-family: fantasy;
	font-weight: 100;
	justify-content: center;
	display: flex;
	margin: 0 0 10px 0;
	
}

label {
	
}
input {
	width: 100%;
	border: none;
	outline: none;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
	margin: 10px 0 10px 0px;
	box-shadow:inset 5px 5px 8px rgba(0, 0, 0, 0.2),
		inset -5px -5px 11px rgba(255, 255, 255, 0.75);
}

button{
	height: 50px;
	width: 100px;
	justify-content: center;
	align-items:center;
	align-content: center;
	display: flex;
	background-color: #5b2e00;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
	font-size: 12px;
	color: white;
	
}
.lognavbtn{
	border: none;
	font-size: 15px;
	font-weight: bold;
	background-color: rgba(0,0,0,0);
	color: white;
	width: 120px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
}
.navbtn{
	border: none;
	background-color: rgba(0,0,0,0);
	color: white;
	width: 200px;
	font-size: 40px;
	font-family: fantasy;
	font-weight: normal;
}
.navbtn:hover{
	border: none;
}
button:hover{
	background-color: rgba(0,0,0,0);
	border-style: solid;
	border-color: white;
	border-width: 1px;
	cursor: pointer;
}